certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
docopt==0.6.2
filelock==3.1.0
huggingface-hub==0.0.17
idna==3.2
importlib-metadata==4.8.1
joblib==1.2.0
numpy==1.22.0
packaging==21.0
pyparsing==2.4.7
PyYAML==5.4.1
regex==2021.9.24
requests==2.26.0
sacremoses==0.0.46
scikit-learn==1.0
scipy==1.7.1
sentencepiece==0.1.96
six==1.16.0
threadpoolctl==2.2.0
tokenizers==0.10.3
torch==1.9.1
tqdm==4.62.3
transformers==4.11.0
typing-extensions==3.10.0.2
urllib3==1.26.7
yarg==0.1.9
zipp==3.5.1
libpecos==0.2.2
