name: Python Unit Tests

on: [push, pull_request]

jobs:
  Python-Unit-Test:
    name: Python Unit Tests
    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
        platform: [ubuntu-18.04, ubuntu-20.04]

    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libopenblas-dev
        python -m pip install pip
        make libpecos VFLAG=-v
    - name: Test with pytest
      run: |
        make test VFLAG=-v
